a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
}
h1 {
    font-family: 'Cinzel', serif;
    font-size: 2.5em;
    letter-spacing: 1px;
}

p {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 1px;
    font-weight: 600px;
}
body {
    font-family: 'Lora',
    serif;
    position: relative;
    min-height: 100vh;
    font-size: 1em;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 1fr 50px;
    grid-template-areas:
    "header" "main" "footer"
    ;
    gap: 10px;
}
/* ++++++++++++++++++++++++++++++ */
/* Header */
/* ++++++++++++++++++++++++++++++ */

header {
    grid-area: header;    
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "logo" "nav"; 
    border-bottom: 1px solid grey;   
}
.header__logo {
    grid-area: logo;
    justify-self: center;
}
.header__nav {
    grid-area: nav;
    align-self: center;
    margin: 5px;
}
.header__nav ul li {
    margin: 5px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5%;
    padding: 3px;
}


.header__logo a img {
    width: 150px;
    height: 150px;
}

/* ++++++++++++++++++++++++++++++++++++++++ */
/* Media queries del header */
/* ++++++++++++++++++++++++++++++++++++++++ */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.header__logo {
    grid-row: 1 / 3;
    align-self: center;
}
.header__nav {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.header__nav ul li {
    margin: 20px;
    padding: 7px;
}
.header__logo a img {
    width: 250px;
    height: 250px;
}
}

@media only screen and (min-width: 1001px) {
    body {
        grid-template-rows: 200px 1fr 50px;  
    }
    header {
       display: flex;
       flex-direction: row; 
       justify-content: space-between;
    }
    .header__nav {
        height: 180px;
        display: flex;
        align-items: flex-end;
    }
    .header__nav ul {
        display: flex;
        flex-direction: row;
        
    }
    .header__nav ul li {    
        padding: 7px;
    }
    .header__nav ul li:hover {    
        background-color: rgb(170, 170, 145);
    }
    .header__logo {
        margin-left: 10px;
        margin-top: auto;
    }
}
/* +++++++++++++++++++++++++++++++++ */
/* Fin de media queries del header */
/* ++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++ */
/* main*/
/* ++++++++++++++++++++++++++++++++++++++++ */
main {
    grid-area: main;
}

/* ++++++++++++++++++++++++++++++++++ */
/* Main del home */
/* ++++++++++++++++++++++++++++++++++ */
/* primera seccion */

.nombre {
    display: flex;
    flex-direction: column;     
}
.about__nombre {
    text-align: center;
    animation-name: desplazarse;
    position: relative;
    animation-duration: 2s;
}
/* Animacion */
@keyframes desplazarse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}
.about__foto {
    max-width: 400px;
    margin: auto;
}
.about__enlace {
    border: 1px solid black;
    padding: 5px;
    background-color: rgba(167, 167, 145, 0.788);
}
.about__enlace:hover {
    background-color: rgb(167, 167, 145);
}
.about__enlace a {
   display: block;
   text-align: center;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}


@media screen and (min-width: 600px){
    .container__about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .about__foto {
        grid-row: 1 / 3;
        grid-column: 2 / span 1;
    }
    .about__nombre {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .about__enlace {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        margin: auto
    }
    .about__enlace {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 200px;
        border-radius: 5%;
    }
}

/* Segunda seccion/galeria home*/
.h2__galeria {
    text-align: center;
}
.row {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.column img {
    width: 300px;
    height: 300px;
}

/* tercera seccion/comentarios  */

.comentarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comentarios div {
    border: 1px solid grey;
    background-color: rgb(155, 155, 130, 0.8);
}


/* ++++++++++++++++++++++++++++++++++++++++++*/
/* main pagina mi historia/*  
/* ++++++++++++++++++++++++++++++++++++++++++ */
.container__historia {
    display: flex;
    flex-direction: column;
}
.foto__historia {
    width: 100%;
    display: flex;
}
.foto__historia img{
    margin: auto;
    width: 300px;
    height: 350px;
    
}
/* ++++++++++++++++++++++++++++++++++++++++++*/
/* Fin main pagina mi historia*/  
/* ++++++++++++++++++++++++++++++++++++++++++ */


/* ++++++++++++++++++++++++++++++++++++++++++*/
/* main pagina productos*/  
/*++++++++++++++++++++++++++++++++++++++++++ */ 

.container__productos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: rgb(163, 163, 145, 0.9);
}

.productos__retrato h3 {
    text-align: center;
}
.productos__retrato ul li {
    display: flex;
    flex-direction: column;
}
.productos__retrato ul li img {
    min-width: 250px;
    max-width: 300px;
    min-height: 250px;
    max-height: 300px;        
}
.productos__cuadernos h3 {
    text-align: center;
}
.productos__cuadernos ul li {
    display: flex;
    flex-direction: column;
}
.productos__cuadernos ul li img {
    min-width: 250px;
    max-width: 300px;
    min-height: 250px;
    max-height: 300px;    
}

@media only screen and (min-width: 620px) {
    .ul1__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "beso sticker"
        "caja bolso";
    }
    .beso {
        grid-area: beso;
    }
    .sticker {
        grid-area: sticker;
    }
    .caja {
        grid-area: caja;
    }
    .bolso {
        grid-area: bolso;
    }    
}

@media only screen and (min-width: 620px) {
    .ul2__container {
        display: grid;       
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
        "item1 item2"
        "item3 item4"      
    }
    .item1 {
        grid-area: item1;
    }
    .item2 {
        grid-area: item2;
    }
    .item3 {
        grid-area: item3;
    }
    .item4 {
        grid-area: item4;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++
/* Final main pagina productos/*  
++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++
/* main pagina Foto/*  
++++++++++++++++++++++++++++++++++++++++++ */

.container__foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foto__intro {
    background-color: rgb(163, 163, 141);
    text-align: center;
}
.foto__intro h1 {
    font-size: 1.3rem;
}

.foto__intro p {
    font-size: 1.1rem;
}
.container__foto article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    margin: 5px;
    border: 1px dotted #725252e8;
    border-radius: 5px;
    background-color: rgb(180, 180, 167);
}
.container__foto article figure {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.container__foto article p {
    font-size: 1rem;
}
.container__foto article figcaption {
    color: black;
    margin-bottom: 2px;
    border: 1px solid grey;
    border-radius: 20px;
    display: inline-block;
    padding: 3px;
    background-color: rgba(248, 7, 7, 0.623);
}
.ideal {
    color: black;
    margin-bottom: 2px;
    border: 1px solid grey;
    border-radius: 20px;
    display: inline-block;
    padding: 3px;
    background-color: green !important;
}

@media only screen and (min-width: 617px) {
    .foto__intro h1 {
        font-size: 2.5rem;
    }
    
    .foto__intro p {
        font-size: 20px;
    }
    .container__foto article p {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1000px) {
    .container__foto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "consejo consejo"
        "primero segundo"
        "tercero cuarto"
        "objetivo objetivo";
    }
    .consejo {
        grid-area: consejo;
    }
    .primero {
        grid-area: primero;
    }
    .segundo {
        grid-area: segundo;
    }
    .tercero {
        grid-area: tercero;
    }
    .cuarto {
        grid-area: cuarto;
    }

    .objetivo {
        grid-area: objetivo;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++
/* Final pagina Foto/*  
++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++
/* main pagina Preguntas/*  
++++++++++++++++++++++++++++++++++++++++++ */
.container__preguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__preguntas h1, h3, p {
    margin: 5px;
    padding: 10px;
}
.container__preguntas h3 {
    color: rgba(87, 49, 49, 0.918);
    font-size: 20px;
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .container__preguntas h1 {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 437px) {
    .container__preguntas h1 {
        font-size: 1.3rem;
    }
    .container__preguntas h3 {
        font-size: 16px;
    }
    .container__preguntas p {
        font-size: 14px;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++
/* Final main pagina Preguntas/*  
++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++
/*  main pagina contacto/*  
++++++++++++++++++++++++++++++++++++++++++ */
.container__formulario {
    display: flex;
    flex-direction: column;
    background-color: rgb(177, 177, 144, 0.8);
}
fieldset div {
    margin: 7px;
    padding: 3px;
}
.containerFormulario__web {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerFormulario__redes h2 {
    text-align: center;
}
.formulario__iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.whats {
    font-size: 50px;
    padding: 20px;
    color: green;
    transition-property: font-size;
    transition-duration: 0.5s;
}
.instagram {
    font-size: 50px;
    padding: 20px;
    color: brown;
    transition-property: font-size;
    transition-duration: 0.5s;
}

@media only screen and (min-width: 1001px) {
    .whats:hover {
        font-size: 60px;
        filter: brightness(50)
    }
    
    .instagram:hover {
        font-size: 60px;
        filter: brightness(0.5)
    }
}
/* ++++++++++++++++++++++++++++++++++++++++++
/*  Final main pagina contacto/*  
++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++ */
/* Footer general */
/* ++++++++++++++++++++++++++++++++++++++++ */
footer {
    grid-area: footer;
    margin-bottom: 0%;
    background-color: rgb(172, 172, 138, 0.7);
    border-top: 1px solid rgba(170, 164, 164, 0.801);
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.parrafo-footer {
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
@media only screen and (max-width: 501px) and (min-width: 462px) {
    .parrafo-footer {
        font-size: 12px;
    }
}
@media only screen and (max-width: 461px) and (min-width: 352px) {
    .parrafo-footer {
        font-size: 9px;    
    }
}
@media only screen and (max-width: 351px) {
    .parrafo-footer {
        font-size: 8px;    
    }
}
/* ++++++++++++++++++++++++++++++++++++++++ */
/* Final del footer */
/* ++++++++++++++++++++++++++++++++++++++++ */